#profileButton {
    margin: 20px;
}

.image-boarder-radius {
    border-radius: 5px;
    max-width: 500px;
    margin: 20px;
    
  }
  
  nav {
    padding: 35px;
  }
  
  img {
    border-radius: 5px;
  }